SC3_Alarm_Module_WS/SC3_Alarm_Module/Service References/SC3ServiceReference1/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Select_User">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Select_UserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Select_UserResult" type="tns:User" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="User">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="User_id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Privilege" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Is_Admin" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Username_Edited" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password_Edited" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Delete_Us">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Delete_UsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Delete_UsResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="Select_UserSoapIn">
    <wsdl:part name="parameters" element="tns:Select_User" />
  </wsdl:message>
  <wsdl:message name="Select_UserSoapOut">
    <wsdl:part name="parameters" element="tns:Select_UserResponse" />
  </wsdl:message>
  <wsdl:message name="Delete_UsSoapIn">
    <wsdl:part name="parameters" element="tns:Delete_Us" />
  </wsdl:message>
  <wsdl:message name="Delete_UsSoapOut">
    <wsdl:part name="parameters" element="tns:Delete_UsResponse" />
  </wsdl:message>
  <wsdl:portType name="SC3_Alarm_ModuleSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Select_User">
      <wsdl:input message="tns:Select_UserSoapIn" />
      <wsdl:output message="tns:Select_UserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete_Us">
      <wsdl:input message="tns:Delete_UsSoapIn" />
      <wsdl:output message="tns:Delete_UsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SC3_Alarm_ModuleSoap" type="tns:SC3_Alarm_ModuleSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Select_User">
      <soap:operation soapAction="http://tempuri.org/Select_User" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete_Us">
      <soap:operation soapAction="http://tempuri.org/Delete_Us" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SC3_Alarm_ModuleSoap12" type="tns:SC3_Alarm_ModuleSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Select_User">
      <soap12:operation soapAction="http://tempuri.org/Select_User" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete_Us">
      <soap12:operation soapAction="http://tempuri.org/Delete_Us" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SC3_Alarm_Module">
    <wsdl:port name="SC3_Alarm_ModuleSoap" binding="tns:SC3_Alarm_ModuleSoap">
      <soap:address location="http://localhost:6578/SC3_Alarm_Module.asmx" />
    </wsdl:port>
    <wsdl:port name="SC3_Alarm_ModuleSoap12" binding="tns:SC3_Alarm_ModuleSoap12">
      <soap12:address location="http://localhost:6578/SC3_Alarm_Module.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>